.divPai{
    border-radius: 10px;
    transition: .5s ease;
    background: #ca0000;
    width: 100px;
    margin-top: 40vh;
    box-shadow: 8px 10px 5px 0px #615858;
}

.divPai:hover{
    box-shadow: 0 0 0 10px #615858;
    transition: .5s ease;
    background: none;
}
@media screen and (min-width: 768px) {
    .divPai{
        width: 240px;
    }

}

@media screen and (min-width: 1024px){
    .divPai{
        width: 300px;
        font-size: 2em;
    }
} 
@media screen and (min-width: 1440px) {
    .divPai{
        width: 450px;
        font-size: 2em;
    }

}